<!-- Default form subscription -->
<div class="card">
	<div class="card-header">
		<p class="h4 mb-2 text-center">Add Beer with image</p>
	</div>
	<div class="card-body">
		<form class="text-center border border-light p-5" action="/beers/saveBeerWithImage" method="POST" enctype="multipart/form-data">

			<!-- Name -->
			<input type="text" name="name" id="name" class="form-control mb-4"
				placeholder="Beer Name">

			<!-- Graduation -->
			<input type="number" name="graduation" id="graduation" class="form-control mb-4"
				placeholder="Beer Graduation">
			
			<input type="text" name="type" id="type" class="form-control mb-4"
				placeholder="Beer type">

			<!-- Description -->
			<textarea class="form-control mb-4" id="description" name="description"
				placeholder="Beer Description">Beer Description
                                 </textarea>
			<div class="custom-file mb-4">
				<input type="file" name="file" class="custom-file-input"
					id="file"> <label class="custom-file-label"
					for="customFile">Beer Image</label>
			</div>
			<!-- Sign in button -->
			<button class="btn btn-info btn-block" type="submit">add</button>
		</form>
	</div>
</div>